
.image {
	float: left;
	width: 20%;
	text-align: center;
}

.image .title {
	display: block;
	padding: 2px 0 4px 0;
}

.image img {
	width: 158px;
}

.image .size,
.image .date {
	font-size: 11px;
}
